/* Add additional stylesheets below
-------------------------------------------------- */

body {
    color: lightgray;
    font-family: fantasy;
    font-size: 16px;
    margin: 0;
}

#nodegarden {
    position: absolute;
    z-index: -1;
    background-color: #111f56;
}

footer {
    background-color: lightblue;
    text-align: center;
    height: 40px;
    font-family: verdana;
    font-size: 20px;
    color: black;
}

.header {
    width: 100%;
    display: block;
    background-color: grey;
    text-align: right;
    line-height: 0px;
    height: 110px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: none;
    color: black;
}

h1 {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 45px;
    position: relative;
    bottom: -50px;
}

#help {
    position: relative;
    right: 10px;
}

#toggleGarden {
    float: left;
    display: inline-block;
}

/*HEADER KEY*/
.key {
    position: relative;
    right: 10px;
}

#miss{
    color: blue;
}

#hit {
    color: orange;
}

#sunk {
    color: red;
}

#critical {
    color: green;
}

/*BOARDS-------------------------------------------*/
.flex-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.letters {
    font-size: 12px;
    height: 30px;
    margin: 0;
    padding: 1px;
    width: 28px;
    min-width: 17px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.numbers {
    font-size: 12px;
    margin: 0;
    padding: 1px;
    width: 28px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.battleGrid {
    border-spacing: 2px;
}

.battleGrid tr {
    min-height: 13px;
}

.battleGrid td {
    border: 2px solid black;
    width: 24px;
    min-width: 13px;
    box-shadow: 1px 1px 6px darkblue;
}

td:hover {
    cursor: crosshair;
    border: 2px solid red;
    /*same border size, messing with width and height is hard*/
}

/*td:hover:after {
    content: '\00B7';
    display: block;
    text-align: center;
    font-size: 3em;
    overflow: hidden;
    height: 13px;
    line-height: 13px;
}*/

input[type="text"], textarea {
    color: black;
    background-color: lightgray;
}

/*PLAYER BOARD----------------------------------*/
#player {
    border: 3px solid green;
}

#rightBoard{
   padding-top: 0%;
   padding-right: 5%;
   padding-bottom: 0%;
   padding-left: 0%;
   margin: 0;
}

/*OPPONENT BOARD-------------------------------*/
#opponent {
    border: 3px solid red;
}

#leftBoard{
    padding-left: 5%;
}

/*CENTER---------------------------------------*/
ul {
    list-style: none;
    padding: 0;
}

#center{
    .ls text-align: center;
    font-size: 16px;
    font-family: monospace;
    position: relative;
    top: 0px;
    left: 0px;
    padding 0;
    margin: 0;
}

#centerP {
    text-align: center;
}

#boxy{
    text-align: center;
}

.errorText {
    color: red;
}

/*SHIP PLACE BUTTONS*/
ul#ships li {
    text-align: center;
}

img {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.selected {
    filter: contrast(0);
}

/*CELL COLORINGS--------------------------------*/
.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.cq {
    background-color: darkgreen;
}

td.occupied.captains {
    border-color: green;
}

.miss {
    background-color: blue;
}

.hit {
    background-color: orange;
}

.critical{
    background-color: green;
}

.sink {
    background-color: red;
}

.pulsed {
    background-color: gray;
}

.detectedShip {
    background-color: black;
}

/*BUTTON STYLING-----------------------------*/
button {
    background-color: #lightgray;
    color: black;
    border: 2px solid black;
    text-align: center;
    border-radius: 4px;
    margin: 5px;
}

button:hover {
  background-color: #AAA;
  color: blue;
}

#playerSizeButtonContainer {
    display: flex;
    justify-content: right;

}

/*SOUND STYLING----------------------------*/
audio {
    preload: auto;
    controls: none;
    display: none;
}
