<!DOCTYPE html>
<html>
    <body>

        <h1>Instructions</h1>
        <ol>Click on the image of the ship you would like to place.</ol>
        <ol>Drag your cursor over your playing board. </ol>
        <ol>When the cursor is located in your desired location clicking will place the selected ship there.</ol>
        <ol>Once all ships are placed clicking a box on your board will fire a shot at the corresponding location on your opponenents board.</ol>
        <ol>Each player can shoot only once per turn.</ol>
        <ol>During the game X's will represent hits while O's represent misses.</ol>
    </body>
</html>
