<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "BattleShip Team 36">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="flex-box">
    <div id="leftBoard">
        <div id="opponentSizeButtonContainer">
            <button class="increaseSize opponent">+</button>
            <button class="decreaseSize opponent">-</button>
        </div>
        <table id="row1opponent" class="row1">
            <tr>
                <th class="letters">A</th><th class="letters">B</th><th class="letters">C</th>
                <th class="letters">D</th><th class="letters">E</th><th class="letters">F</th><th class="letters">G</th>
                <th class="letters">H</th><th class="letters">I</th><th class="letters">J</th>
            </tr>
        </table>
        <div id="rowMarkersContainerOpponent" class="rowMarkersContainer">
            <p class="numbers">1</p><p class="numbers">2</p><p class="numbers">3</p><p class="numbers">4</p>
            <p class="numbers">5</p><p class="numbers">6</p><p class="numbers">7</p><p class="numbers">8</p>
            <p class="numbers">9</p><p class="numbers">10</p>
        </div>
        <table id="opponent" class="battleGrid" style="width:328px; height:328px;">
        </table>
        <form action="javascript:void(0);">
            Pick name: <input id="opponentName" type="text" name="FirstName" onClick="this.select();" value="Enemy"><br>
        </form>
    </div>
    <div id="center">
        <p id="centerP">Select Ships Below to Start Playing!</p>
        <ul id="ships">
            <li><img id="minesweeper" class="ship" src="../../assets/minesweeper.png" alt="minesweeper"></li>
            <li><img id="destroyer" class="ship" src="../../assets/destroyer.png" alt="Destroyer"></li>
            <li><img id="battleship" class="ship" src="../../assets/battleship.png" alt="Battleship"></li>
            <li><input type="checkbox" id="is_vertical">Vertical, Press 'r' for easier rotating!</input></li>
        </ul>
        <div id="boxy">
            <ul><h2>Results</h2></ul>
            <ul><textarea id="outputBox" rows="4" cols="30" name="outputBox">This is where results go!</textarea></ul>
        </div>
    </div>
    <div id="rightBoard">
        <div id="playerSizeButtonContainer">
            <button class="increaseSize player">+</button>
            <button class="decreaseSize player">-</button>
        </div>
        <table id="row1player" class="row1">
            <tr>
                <th class="letters">A</th><th class="letters">B</th><th class="letters">C</th>
                <th class="letters">D</th><th class="letters">E</th><th class="letters">F</th><th class="letters">G</th>
                <th class="letters">H</th><th class="letters">I</th><th class="letters">J</th>
            </tr>
        </table>
        <div id="rowMarkersContainerPlayer" class="rowMarkersContainer">
            <p class="numbers">1</p><p class="numbers">2</p><p class="numbers">3</p><p class="numbers">4</p>
            <p class="numbers">5</p><p class="numbers">6</p><p class="numbers">7</p><p class="numbers">8</p>
            <p class="numbers">9</p><p class="numbers">10</p>
        </div>
        <table id="player" class="battleGrid" style="width:328px; height:328px;">
        </table>
        <form action="javascript:void(0);">
            Pick name: <input id="playerName" type="text" name="FirstName" onClick="this.select();" value="Player"><br>
        </form>
        <div id="movePlayerFleet">
            <button id="movePlayerFleetNorth" class="moveButton">N</button>
            <button id="movePlayerFleetWest" class="moveButton">W</button>
            <button id="movePlayerFleetCenter">MOVE</button>
            <button id="movePlayerFleetEast" class="moveButton">E</button>
            <button id="movePlayerFleetSouth" class="moveButton">S</button>
        </div>
    </div>
</div>

<ul>
    <li><button id="reset_button">Reset</button></li>
    <li><button id="laser_button">Laser</button></li>
</ul>

<audio id="miss.mp3" src="/assets/miss.mp3"></audio>
<audio id="hit.mp3" src="/assets/hit.mp3"></audio>
<audio id="sink.mp3" src="/assets/sunk.mp3"></audio>
<audio id="place.mp3" src="/assets/place.mp3"></audio>
<audio id="error.mp3" src="/assets/error.mp3"></audio>
<audio id="surrender.mp3" src="/assets/surrender.mp3"></audio>
<audio id="critical.mp3" src="/assets/critical.mp3"></audio>
<audio id="pulse.mp3" src="/assets/pulse.mp3"></audio>

<script type="text/javascript" src="/assets/game.js"></script>
<script type="text/javascript" src="/assets/nodegarden.js"></script>
<script>
    initGame();
    window.onload = function(){ initGarden(); };
</script>

</@layout.myLayout>